.container{
    width: 1200px;
    padding: 0 1.4rem;
    margin: auto;
}

// buttons
%btn-shared{
    display: inline-block;
    border: none;
    padding: .7rem 2rem;
    color: $white-color;
    transition: all .5s; 
    cursor: pointer;
}

.btn{
    &-primary{
        @extend %btn-shared;
        background-color: $primary-color;
        color: #333;
    }

    &-light{
        @extend %btn-shared;
        background-color: $light-color;
        color: $dark-color;
    }

    &-dark{
        @extend %btn-shared;
        background-color: $dark-color;
        color: $white-color;
    }
}

button[class^='btn-']:hover
a[class^='btn-']:hover
input[class^='btn-']:hover{
    background-color: $secondary-color;
}

// background

.bg{
    &-dark{
        background-color: $dark-color;
        
    }

    &-secondary{ 
        background-color: $secondary-color;
    }

    &-primary{
        background-color: $primary-color;
    }

    &-blue{
        background-color: $blue-color;
    }

    &-medium{
        background-color: $medium-color;
    }

    &-light{
        background-color: $light-color;
    }

    &-white{
        background-color: $white-color;
    }
}


// padding
.py{
    &-1{
        padding: 1rem 0;
    }

    &-2{
        padding: 2rem 0;
    }

    &-3{
        padding: 3rem 0;
    }

    &-4{
        padding: 4rem 0;
    }
    
}

// margin
.mg{
    &-1{
        margin: 1rem 0;
    }

    &-2{
        margin: 2rem 0;
    }

    &-3{
        margin: 3rem 0;
    }

    &-4{
        margin: 4rem 0;
    }
    
}