$max-height:100vh;
$primary-color:#42a7c6;
$secondary-color:#cc3362;
$light-color: #F9EBC8;
$medium-color:#C4DDFF;
$dark-color: #251D3A;
$blue-color: #4E709D;
$white-color:#E8F9FD;
$bg-image: url('../img/bg-3.jpeg'); 
